iotcp.js
[{"id":"c5e82dfc.e122c","type":"tab","label":"dash1","disabled":false,"info":""},{"id":"a83030ff.ea59c","type":"tab","label":"dash2","disabled":false,"info":""},{"id":"95a0273a.31b768","type":"tab","label":"dash3","disabled":false,"info":""},{"id":"c977462.43343b8","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"125202be.4d099d","type":"function","z":"c5e82dfc.e122c","name":"Column Chart","func":"\nmsg.payload = {\n    title: \"Social Media Impact - over 60 days\",\n    zoom: true,\n    chart: {\n        title:{\n            text: \"Device Mentions by Model\"\n        }, \n        animationEnabled: true,\n        data: [\n            {\n                // Change type to \"doughnut\", \"line\", \"splineArea\", etc.\n                type: \"column\",\n                dataPoints: [\n                    { label: \"MR320\",   y: 22  },\n                    { label: \"MR320-X\", y: 15  },\n                    { label: \"MR410\",   y: 25  },\n                    { label: \"MR420\",   y: 49  },\n                    { label: \"MR430\",   y: 30  },\n                    { label: \"MR500\",   y: 28  }\n                ]\n            }\n        ]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["6d86b898.cae0e8"]]},{"id":"3671f48a.43d87c","type":"http in","z":"c5e82dfc.e122c","name":"","url":"/dash1/kpi-main","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["125202be.4d099d"]]},{"id":"6d86b898.cae0e8","type":"http response","z":"c5e82dfc.e122c","name":"","statusCode":"","headers":{},"x":610,"y":240,"wires":[]},{"id":"3b9a180e.40a5c8","type":"function","z":"c5e82dfc.e122c","name":"Doughnut Chart","func":"\nvar total = 688; // mentions\n\nvar value = 18;\n\nmsg.payload = {\n    title: '<i class=\"fa fa-twitter\"></i><span class=\"pull-right text-danger\"><i class=\"fa fa-arrow-circle-down\"></i> 18%</span>',\n    chart: {\n        animationEnabled: true,\n        backgroundColor: \"transparent\",\n        title: {\n            text: value.toString() + \"%\",\n            fontSize: 20,\n            horizontalAlign: \"center\",\n            verticalAlign: \"center\",\n        },\n        data: [\n            {\n                explodeOnClick: false,\n                innerRadius: \"80%\",\n                radius: \"90%\",\n                startAngle: 270,\n                type: \"doughnut\",\n                dataPoints: [\n                    { y: value, /*color: \"#c70000\",*/ toolTipContent: \"Positive Sentiment: <span>\" + Math.round( value / 100 * total ) + \"</span> (over 60 days)\" },\n                    { y: 100-value, color: \"#727272\", toolTipContent: null }\n                ]\n            }\n        ]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":320,"wires":[["12548100.54b08f"]]},{"id":"dc911e1d.5a409","type":"inject","z":"c5e82dfc.e122c","name":"On Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":40,"wires":[["4776f54a.b603dc"]]},{"id":"4776f54a.b603dc","type":"function","z":"c5e82dfc.e122c","name":"Set Total Revenue","func":"\n\nglobal.set( 'totalRevenue', 15341110 )\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[["273d090f.b25b46"]]},{"id":"73b9e416.0433ac","type":"http in","z":"c5e82dfc.e122c","name":"","url":"/dash1/kpi-1","method":"get","upload":false,"swaggerDoc":"","x":110,"y":321,"wires":[["3b9a180e.40a5c8"]]},{"id":"3efbc84f.d5c5e8","type":"http in","z":"c5e82dfc.e122c","name":"","url":"/dash1/kpi-2","method":"get","upload":false,"swaggerDoc":"","x":110,"y":360,"wires":[["c0a740b1.101cd"]]},{"id":"da78121d.6fc22","type":"function","z":"c5e82dfc.e122c","name":"Line and Column Chart","func":"\nvar moment = global.get('moment');\n\nfunction subtractMonths(dataPoint){\n    dataPoint.x = moment(new Date()).subtract(dataPoint.x,'month').format('YYYY-MM-01');\n    return dataPoint;\n}\n\nconsole.log(  );\n\nmsg.payload = {\n    title: \"Sales (In Millions)\",\n    dateFields: [ \"x\" ], // convert x values to dates in the browser\n    zoom: true,\n    chart: {\n        animationEnabled: true,\n        legend: {\n            fontSize: 15,\n            cursor: \"pointer\",\n            itemclick: function (e) {\n                //console.log(\"legend click: \" + e.dataPointIndex);\n                //console.log(e);\n                if (typeof (e.dataSeries.visible) === \"undefined\" || e.dataSeries.visible) {\n                    e.dataSeries.visible = false;\n                } else {\n                    e.dataSeries.visible = true;\n                }\n\n                e.chart.render();\n            }\n        },\n        data: [{        \n        type: \"column\",\n        showInLegend: true,\n        legendText: \"Projected Sales\",\n        xValueFormatString:'MMMYYYY',\n        dataPoints: [\n        { x: 12, y: 93 },\n        { x: 11, y: 127},\n        { x: 10, y: 135 },\n        { x: 9, y: 148 },\n        { x: 8, y: 162 },\n        { x: 7, y: 192 },\n        { x: 6, y: 208 },\n        { x: 5, y: 222 },\n        { x: 4, y: 242},\n        { x: 3, y: 268},\n        { x: 2, y: 300},\n        { x: 1, y: 321}\n        ].map( subtractMonths )\n      },\n      {        \n        type: \"line\",\n        showInLegend: true,\n        legendText: \"Actual Sales\",\n        xValueFormatString:'MMMYYYY',\n        dataPoints: [\n        { x: 12, y: 281 },\n        { x: 11, y: 267},\n        { x: 10, y: 256 },\n        { x: 9, y: 235 },\n        { x: 8, y: 230 },\n        { x: 7, y: 223 },\n        { x: 6, y: 217 },\n        { x: 5, y: 200 },\n        { x: 4, y: 180},\n        { x: 3, y: 150},\n        { x: 2, y: 130},\n        { x: 1, y: 118}\n        ].map( subtractMonths )\n      }\n      ]\n        \n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["aa9a9877.51ed38"]]},{"id":"8da77d8b.c600d","type":"http in","z":"c5e82dfc.e122c","name":"","url":"/dash1/kpi-sales","method":"get","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["da78121d.6fc22"]]},{"id":"6c5e7498.bca39c","type":"http in","z":"c5e82dfc.e122c","name":"","url":"/dash1/kpi-3","method":"get","upload":false,"swaggerDoc":"","x":110,"y":400,"wires":[["d6973780.e81268"]]},{"id":"f62588f7.9e2248","type":"http in","z":"a83030ff.ea59c","name":"","url":"/dash2/new-devices","method":"get","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["b1e7bf77.794c2"]]},{"id":"b1e7bf77.794c2","type":"function","z":"a83030ff.ea59c","name":"new devices","func":"\nconst lodash = global.get('lodash');\nconst moment = global.get('moment');\n\nmsg.payload = {\n    \n    title: \"New Devices (filter: Chicago Area)\",\n    \n    devices: global.get('devices').slice(0,10).map((dev)=>{\n    \n        // set a random currTemp close to the setTemp\n        if ( typeof dev.currTemp === 'undefined' ) dev.currTemp = dev.setTemp + lodash.random(-1.1,1.1); \n        \n        // convert the added, to a date string\n        if ( typeof dev.added === 'number' ) dev.added = moment(new Date()).subtract(dev.added,'day').format('YYYY-MM-DD');\n    \n        return dev;\n    }),\n    \n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["56de4d50.fe48d4"]]},{"id":"56de4d50.fe48d4","type":"http response","z":"a83030ff.ea59c","name":"","statusCode":"","headers":{},"x":570,"y":200,"wires":[]},{"id":"dc833a0d.adc538","type":"debug","z":"a83030ff.ea59c","name":"","active":true,"console":"false","complete":"true","x":570,"y":340,"wires":[]},{"id":"aa9a9877.51ed38","type":"http response","z":"c5e82dfc.e122c","name":"","statusCode":"","headers":{},"x":610,"y":280,"wires":[]},{"id":"12548100.54b08f","type":"http response","z":"c5e82dfc.e122c","name":"","statusCode":"","headers":{},"x":610,"y":320,"wires":[]},{"id":"6eca59f6.9b4088","type":"http response","z":"c5e82dfc.e122c","name":"","statusCode":"","headers":{},"x":610,"y":360,"wires":[]},{"id":"509ecaee.77f564","type":"http response","z":"c5e82dfc.e122c","name":"","statusCode":"","headers":{},"x":610,"y":400,"wires":[]},{"id":"c93e5774.5e9b78","type":"inject","z":"a83030ff.ea59c","name":"on startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":80,"wires":[["845ef716.749ef8"]]},{"id":"845ef716.749ef8","type":"function","z":"a83030ff.ea59c","name":"device list","func":"\nconst lodash = global.get('lodash');\nconst moment = global.get('moment');\n\nglobal.set( \"devices\", [\n\n    { id: \"823321\", position: { \"lat\":41.882274695653585, \"lng\":-87.63645350933075 }, added: 1, model: \"MR430\", setTemp: 33.0, door: 'L' },\n    { id: \"374421\", position: { \"lat\":41.87889176738816,  \"lng\":-87.6359224319458  }, added: 1, model: \"MR320\", setTemp: 35.0, door: 'U' },\n    { id: \"526361\", position: { \"lat\":41.87336366921186,  \"lng\":-87.63313293457031 }, added: 2, model: \"MR430\", setTemp: 30.0, door: 'U' },\n    { id: \"723371\", position: { \"lat\":41.87358735876728,  \"lng\":-87.63309001922607 }, added: 3, model: \"MR430\", setTemp: 30.0, door: 'L' },\n    { id: \"223822\", position: { \"lat\":41.87393886934415,  \"lng\":-87.63317584991455 }, added: 3, model: \"MR320\", setTemp: 45.0, door: 'L' },\n    { id: \"723921\", position: { \"lat\":41.85322840354622,  \"lng\":-87.65085697174072 }, added: 4, model: \"MR430\", setTemp: 30.0, door: 'L' },\n    { id: \"422581\", position: { \"lat\":41.862529766639675, \"lng\":-87.65832424163818 }, added: 4, model: \"MR430\", setTemp: 30.0, door: 'O!', currTemp: 69 + lodash.random(-1,1) },\n    { id: \"601351\", position: { \"lat\":41.88620857235047,  \"lng\":-87.648024559021   }, added: 4, model: \"MR320\", setTemp: 0.0,  door: 'L' },\n    { id: \"732321\", position: { \"lat\":41.87985034848061,  \"lng\":-87.65347480773926 }, added: 5, model: \"MR430\", setTemp: 20.0, door: 'L' },\n    { id: \"543321\", position: { \"lat\":41.86137915587359,  \"lng\":-87.6822280883789  }, added: 5, model: \"MR500\", setTemp: 25.0, door: 'L' },\n    \n]); \n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":80,"wires":[[]]},{"id":"41ff1f54.66134","type":"http in","z":"a83030ff.ea59c","name":"","url":"/dash2/device-map","method":"get","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["3d6c7c25.64c794"]]},{"id":"3d6c7c25.64c794","type":"function","z":"a83030ff.ea59c","name":"device map","func":"\nconst lodash = global.get('lodash');\nconst moment = global.get('moment');\n\nfunction deviceColor(d){\n    \n    // create a copy of the device\n    var dev = Object.assign( {}, d );\n    \n    // add a color attribute, mapped by device model\n    switch (dev.model) {\n        case \"MR320\":       dev.color = \"lime\";     break;\n        case \"MR320-X\":     dev.color = \"yellow\";   break;\n        case \"MR410\":       dev.color = \"red\";      break;\n        case \"MR430\":       dev.color = \"skyblue\";  break;\n        case \"MR500\":       dev.color = \"violet\";   break;\n        default:            dev.color = \"aqua\";     break;\n    }\n\n    return dev;\n}\n\nmsg.payload = {\n    \n    title: \"Device Locations\",\n    \n    style: 'mapbox://styles/mapbox/dark-v9',\n    \n    center:  { lng: -87.64973589884414, lat: 41.869549942090885 },\n    \n    zoom: 12,\n\n    devices: global.get('devices').map( deviceColor ),\n    \n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["255cfe9b.790962"]]},{"id":"255cfe9b.790962","type":"http response","z":"a83030ff.ea59c","name":"","statusCode":"","headers":{},"x":570,"y":240,"wires":[]},{"id":"c2ba091.65b4af8","type":"http in","z":"a83030ff.ea59c","name":"","url":"/dash2/device/:deviceId","method":"get","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["def4fa5.e19e608"]]},{"id":"968deefe.842c1","type":"http response","z":"a83030ff.ea59c","name":"","statusCode":"","headers":{},"x":570,"y":300,"wires":[]},{"id":"def4fa5.e19e608","type":"function","z":"a83030ff.ea59c","name":"device data","func":"\nconst _ = global.get('lodash');\n\n\nmsg.payload = {\n\n    setTemp:    50,\n    currTemp:   _.round( _.random( 49.4, 50.9, true ), 2 ),\n    \n    voltage1:   _.round( _.random( 109, 112, true ), 2 ),\n    voltage2:   _.round( _.random( 109, 112, true ), 2 ),\n\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["968deefe.842c1","dc833a0d.adc538"]]},{"id":"febb8fd0.9250f","type":"websocket in","z":"a83030ff.ea59c","name":"","server":"c977462.43343b8","client":"","x":110,"y":420,"wires":[["6965c2a6.7f477c"]]},{"id":"6965c2a6.7f477c","type":"debug","z":"a83030ff.ea59c","name":"","active":true,"console":"false","complete":"payload","x":350,"y":420,"wires":[]},{"id":"c60358c6.28ccf8","type":"websocket out","z":"a83030ff.ea59c","name":"","server":"c977462.43343b8","client":"","x":550,"y":500,"wires":[]},{"id":"e785d911.ee1ed8","type":"inject","z":"a83030ff.ea59c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":130,"y":500,"wires":[["66156d6.e0c9b94"]]},{"id":"66156d6.e0c9b94","type":"function","z":"a83030ff.ea59c","name":"simulate device","func":"\nconst lodash = global.get('lodash');\n\nvar ts = msg.payload;\n\nmsg.payload = {\n    \n    type: \"measures\",\n    \n    ts: ts,\n    \n    id: \"1234449599559\",\n        \n    volt1: lodash.round( 110 + lodash.random( -1.1, 1.1, true ), 2 ),\n    volt2: lodash.round( 110 + lodash.random( -1.1, 1.1, true ), 2 ),\n\n    amp1: lodash.round( 12 + lodash.random( -1.1, 1.1, true ), 2 ),\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["c60358c6.28ccf8"]]},{"id":"adb3463a.bcc608","type":"http response","z":"a83030ff.ea59c","name":"","statusCode":"","headers":{},"x":550,"y":580,"wires":[]},{"id":"2808fde1.f09be2","type":"function","z":"a83030ff.ea59c","name":"guage","func":"\nmsg.payload = {\n    \n    title: \"Voltage PS1 (Primary)\",\n\n    c3: {\n        \n        data: {\n            columns: [\n                ['volts', 110.4]\n            ],\n            type: 'gauge',\n        },\n    \n        gauge: {\n            min: 0,\n            max: 125,\n            units: 'volts',\n        },\n        \n        color: {\n            pattern: ['#FF0000', '#60B044', 'FF0000'], // red, green, red\n            threshold: {\n                unit: 'value',\n                //max: 200,\n                values: [ 90, 115, 120]\n            }\n        },\n    \n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["adb3463a.bcc608"]]},{"id":"613af545.96717c","type":"http in","z":"a83030ff.ea59c","name":"","url":"/dash2/measure-1","method":"get","upload":false,"swaggerDoc":"","x":150,"y":580,"wires":[["2808fde1.f09be2"]]},{"id":"8b581ec9.58d52","type":"http response","z":"a83030ff.ea59c","name":"","statusCode":"","headers":{},"x":550,"y":620,"wires":[]},{"id":"4a4adf87.1bfad","type":"function","z":"a83030ff.ea59c","name":"guage","func":"\nmsg.payload = {\n    \n    title: \"Voltage PS2 (Backup)\",\n\n    c3: {\n        \n        data: {\n            columns: [\n                ['volts', 110.2]\n            ],\n            type: 'gauge',\n        },\n    \n        gauge: {\n            min: 0,\n            max: 125,\n            units: 'volts',\n        },\n        \n        color: {\n            pattern: ['#FF0000', '#60B044', 'FF0000'], // red, green, red\n            threshold: {\n                unit: 'value',\n                //max: 200,\n                values: [ 90, 115, 120]\n            }\n        },\n\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["8b581ec9.58d52"]]},{"id":"ae434e57.ab095","type":"http in","z":"a83030ff.ea59c","name":"","url":"/dash2/measure-2","method":"get","upload":false,"swaggerDoc":"","x":150,"y":620,"wires":[["4a4adf87.1bfad"]]},{"id":"d078dc4.864a82","type":"http response","z":"a83030ff.ea59c","name":"","statusCode":"","headers":{},"x":550,"y":660,"wires":[]},{"id":"117f3300.d2e17d","type":"function","z":"a83030ff.ea59c","name":"guage","func":"\nmsg.payload = {\n    \n    title: \"Current (Compressor Motor)\",\n\n    c3: {\n        \n        data: {\n        \n            columns: [\n                ['amps', 12.2]\n            ],\n            type: 'gauge',\n        },\n    \n        gauge: {\n\n//        label: {\n//            format: function(value, ratio) {\n//                return value;\n//            },\n//            show: false // to turn off the min/max labels.\n//        },\n            min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change\n            max: 25, // 100 is default\n            units: 'amps',\n//    width: 39 // for adjusting arc thickness\n\n        },\n        \n        color: {\n            pattern: [ '#60B044', '#FF0000' ],\n            threshold: {\n                unit: 'value', // percentage is default\n                //max: 25, // 100 is default\n            values: [ 20, 25 ]\n        }\n    },\n    \n    //size: {\n    //    height: 100\n    //}\n\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":660,"wires":[["d078dc4.864a82"]]},{"id":"c44e727f.ec829","type":"http in","z":"a83030ff.ea59c","name":"","url":"/dash2/measure-3","method":"get","upload":false,"swaggerDoc":"","x":150,"y":660,"wires":[["117f3300.d2e17d"]]},{"id":"273d090f.b25b46","type":"function","z":"c5e82dfc.e122c","name":"Set Negative Tweets","func":"\n\nglobal.set( 'negativeTweets', [\n    \n{ user: \"@VictoriaReed\",    tweet: \"lab 12's freeo fridge died in the middle of the night, lost 2 days worth of samples\" },\n{ user: \"@Tommy12PHD\",      tweet: \"just installed a new freeo MR320, anyone have any idea how to set the temp?\" },\n{ user: \"@uvhgrad\",         tweet: \"GROSS! Please stop putting your lunch in the freeo fridge, it's for bio tests only\" },\n{ user: \"@Steven404\",       tweet: \"FREEO FRIGE JUST FROZE MY WORK :-(\" },\n{ user: \"@User70NBL\",       tweet: \"Love my new lab, all new equipment from Siemens, Freeo, Boston Scientific.  Hope it all works.\" },\n{ user: \"@BeardedDragon12\", tweet: \"3 months in production, freeo is already making a funny sound - thump, thump, thump...\" },\n{ user: \"@GOT_FAN_IL\",      tweet: \"Glad I bought the MR480 warrenty 8)\" },\n{ user: \"@VictoriaReed\",    tweet: \"Just checked lab 11 - same problem #FreeoFail\" },\n{ user: \"@FreeoHat8r\",      tweet: \"Why does anyone still buy Free0? @BostonScientific is better - and cheaper too!\" },\n{ user: \"@ChunkySalsa\",     tweet: \"I wish my freeo fridge would let me know when it's ready for samples\" },\n{ user: \"@ThomasE\",         tweet: \"Second time in 6 months I have had to call for freeo service #TookTheDayOff\" },\n{ user: \"@DuranX2\",         tweet: \"Checked my #freeo MR480 with a calibrated thermometer, off by 8 degrees. SAD.\" },\n{ user: \"@PizzaDude\",       tweet: \"Anyone heard any news about @FREEO's new product line?  Will it finally support gradual descent cooling?\" },\n{ user: \"@Shillster\",       tweet: \"Slightly used @Freeo for sale, minor damage caused by forehead. #freeoFails\" },\n\n]);\n\nglobal.set('nextNegTweet', 0 );\n\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":40,"wires":[[]]},{"id":"3d990eb2.fa8aa2","type":"http response","z":"c5e82dfc.e122c","name":"","statusCode":"","headers":{},"x":610,"y":460,"wires":[]},{"id":"848dc5c6.37c258","type":"function","z":"c5e82dfc.e122c","name":"Recent Negative Tweets","func":"\nvar mathjs = global.get('mathjs');\n\nvar tweets = global.get('negativeTweets');\n\nvar index = global.get('nextNegTweet');\n\nmsg.payload = {\n    title: \"Twitter: Realtime Tweets\",\n    index: index,\n    tweets:  [\n        tweets[ mathjs.mod( index-1, tweets.length ) ],\n        tweets[ mathjs.mod( index-2, tweets.length ) ],\n        tweets[ mathjs.mod( index-3, tweets.length ) ],\n    ]\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["3d990eb2.fa8aa2"]]},{"id":"10937c57.95d8c4","type":"http in","z":"c5e82dfc.e122c","name":"","url":"/dash1/tweets","method":"get","upload":false,"swaggerDoc":"","x":120,"y":460,"wires":[["848dc5c6.37c258"]]},{"id":"70d81a46.318274","type":"websocket out","z":"c5e82dfc.e122c","name":"","server":"c977462.43343b8","client":"","x":630,"y":520,"wires":[]},{"id":"43716bed.b43364","type":"inject","z":"c5e82dfc.e122c","name":"every 38s","topic":"","payload":"","payloadType":"date","repeat":"38","crontab":"","once":true,"x":110,"y":520,"wires":[["131e8c21.d208f4"]]},{"id":"131e8c21.d208f4","type":"function","z":"c5e82dfc.e122c","name":"Negative Tweets","func":"\nvar ts = msg.payload;\n\nvar m = global.get('mathjs');\n\nvar tweets = global.get('negativeTweets');\n\nvar index = global.get('nextNegTweet');\n\nmsg.payload = {\n    type:  \"neg-tweet\",\n    i:     index,\n    tweet: tweets[ index ],\n};\n\nglobal.set( 'nextNegTweet', m.mod( index+1, tweets.length ) );\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["70d81a46.318274"]]},{"id":"c0a740b1.101cd","type":"function","z":"c5e82dfc.e122c","name":"Doughnut Chart","func":"\nvar total = 382; // mentions\n\nvar value = 22;\n\nmsg.payload = {\n    title: '<i class=\"fa fa-facebook-square\"></i><span class=\"pull-right text-danger\"><i class=\"fa fa-arrow-circle-down\"></i> 4%</span>',\n    chart: {\n        animationEnabled: true,\n        backgroundColor: \"transparent\",\n        title: {\n            text: value.toString() + \"%\",\n            fontSize: 20,\n            horizontalAlign: \"center\",\n            verticalAlign: \"center\"\n        },\n        data: [\n            {\n                explodeOnClick: false,\n                innerRadius: \"80%\",\n                radius: \"90%\",\n                startAngle: 270,\n                type: \"doughnut\",\n                dataPoints: [\n                    { y: value, /*color: \"#c70000\",*/ toolTipContent: \"Positive Sentiment: <span>\" + Math.round( value / 100 * total ) + \"</span> (over 60 days)\" },\n                    { y: 100-value, color: \"#727272\", toolTipContent: null }\n                ]\n            }\n        ]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["6eca59f6.9b4088"]]},{"id":"d6973780.e81268","type":"function","z":"c5e82dfc.e122c","name":"Doughnut Chart","func":"\nvar total = 83; // mentions\n\nvar value = 33;\n\nmsg.payload = {\n    title: '<i class=\"fa fa-linkedin-square\"></i><span class=\"pull-right text-danger\"><i class=\"fa fa-arrow-circle-down\"></i> 2%</span>',\n    chart: {\n        animationEnabled: true,\n        backgroundColor: \"transparent\",\n        title: {\n            text: value.toString() + \"%\",\n            fontSize: 20,\n            horizontalAlign: \"center\",\n            verticalAlign: \"center\"\n        },\n        data: [\n            {\n                explodeOnClick: false,\n                innerRadius: \"80%\",\n                radius: \"90%\",\n                startAngle: 270,\n                type: \"doughnut\",\n                dataPoints: [\n                    { y: value, /*color: \"#c70000\",*/ toolTipContent: \"Positive Sentiment: <span>\" + Math.round( value / 100 * total ) + \"</span> (over 60 days)\" },\n                    { y: 100-value, color: \"#727272\", toolTipContent: null }\n                ]\n            }\n        ]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["509ecaee.77f564"]]},{"id":"802059e1.da2428","type":"function","z":"95a0273a.31b768","name":"Column Chart","func":"\nmsg.payload = {\n    title: \"Social Media Impact - over 60 days\",\n    zoom: true,\n    chart: {\n        title:{\n            text: \"Device Mentions by Model\"\n        }, \n        animationEnabled: true,\n        data: [\n            {\n                // Change type to \"doughnut\", \"line\", \"splineArea\", etc.\n                type: \"column\",\n                dataPoints: [\n                    { label: \"MR320\",   y: 16  },\n                    { label: \"MR320-X\", y: 13  },\n                    { label: \"MR410\",   y: 23  },\n                    { label: \"MR420\",   y: 25  },\n                    { label: \"MR430\",   y: 28  },\n                    { label: \"MR500\",   y: 25  }\n                ]\n            }\n        ]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["12b97877.e08558"]]},{"id":"3e8b47b8.f75a28","type":"http in","z":"95a0273a.31b768","name":"","url":"/dash3/kpi-main","method":"get","upload":false,"swaggerDoc":"","x":142,"y":220,"wires":[["802059e1.da2428"]]},{"id":"12b97877.e08558","type":"http response","z":"95a0273a.31b768","name":"","statusCode":"","headers":{},"x":630,"y":220,"wires":[]},{"id":"1ec1673a.9cf059","type":"function","z":"95a0273a.31b768","name":"Doughnut Chart","func":"\nvar total = 688; // mentions\n\nvar value = 68;\n\nmsg.payload = {\n    title: '<i class=\"fa fa-twitter\"></i><span class=\"pull-right text-success\"><i class=\"fa fa-arrow-circle-up\"></i> 8%</span>',\n    chart: {\n        animationEnabled: true,\n        backgroundColor: \"transparent\",\n        title: {\n            text: value.toString() + \"%\",\n            fontSize: 20,\n            horizontalAlign: \"center\",\n            verticalAlign: \"center\",\n        },\n        data: [\n            {\n                explodeOnClick: false,\n                innerRadius: \"80%\",\n                radius: \"90%\",\n                startAngle: 270,\n                type: \"doughnut\",\n                dataPoints: [\n                    { y: value, /*color: \"#c70000\",*/ toolTipContent: \"Positive Sentiment: <span>\" + Math.round( value / 100 * total ) + \"</span> (over 60 days)\" },\n                    { y: 100-value, color: \"#727272\", toolTipContent: null }\n                ]\n            }\n        ]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["9838a071.a5b43"]]},{"id":"fd043f9a.884f7","type":"inject","z":"95a0273a.31b768","name":"On Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":60,"wires":[["f7f0d67b.52ad88"]]},{"id":"eb7170ee.bf4e5","type":"http in","z":"95a0273a.31b768","name":"","url":"/dash3/kpi-1","method":"get","upload":false,"swaggerDoc":"","x":130,"y":300,"wires":[["1ec1673a.9cf059"]]},{"id":"bca65963.cc1c58","type":"http in","z":"95a0273a.31b768","name":"","url":"/dash3/kpi-2","method":"get","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["4fa755c6.b41f0c"]]},{"id":"4077111f.fed69","type":"function","z":"95a0273a.31b768","name":"Line and Bar Chart","func":"\nvar moment = global.get('moment');\n\nfunction subtractMonths(dataPoint){\n    dataPoint.x = moment(new Date()).subtract(dataPoint.x,'month').format('YYYY-MM-01');\n    return dataPoint;\n}\n\nconsole.log(  );\n\nmsg.payload = {\n    title: \"Sales (In Millions)\",\n    dateFields: [ \"x\" ], // convert x values to dates in the browser\n    zoom: true,\n    chart: {\n        animationEnabled: true,\n        legend: {\n            fontSize: 15,\n            cursor: \"pointer\",\n            itemclick: function (e) {\n                //console.log(\"legend click: \" + e.dataPointIndex);\n                //console.log(e);\n                if (typeof (e.dataSeries.visible) === \"undefined\" || e.dataSeries.visible) {\n                    e.dataSeries.visible = false;\n                } else {\n                    e.dataSeries.visible = true;\n                }\n\n                e.chart.render();\n            }\n        },\n        data: [{        \n        type: \"column\",\n        showInLegend: true,\n        legendText: \"Projected Sales\",\n        xValueFormatString:'MMMYYYY',\n        dataPoints: [\n        { x: 12, y: 82 },\n        { x: 11, y: 112},\n        { x: 10, y: 122 },\n        { x: 9, y: 131 },\n        { x: 8, y: 156 },\n        { x: 7, y: 182 },\n        { x: 6, y: 195 },\n        { x: 5, y: 201 },\n        { x: 4, y: 216},\n        { x: 3, y: 238},\n        { x: 2, y: 250},\n        { x: 1, y: 279}\n\n        ].map( subtractMonths )\n      },\n      {        \n        type: \"line\",\n        showInLegend: true,\n        legendText: \"Actual Sales\",\n        xValueFormatString:'MMMYYYY',\n        dataPoints: [\n        { x: 12, y: 93 },\n        { x: 11, y: 127},\n        { x: 10, y: 135 },\n        { x: 9, y: 148 },\n        { x: 8, y: 162 },\n        { x: 7, y: 192 },\n        { x: 6, y: 208 },\n        { x: 5, y: 222 },\n        { x: 4, y: 242},\n        { x: 3, y: 268},\n        { x: 2, y: 300},\n        { x: 1, y: 321}\n        ].map( subtractMonths )\n      }\n      ]\n        \n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["c878f8b7.4cc0b8"]]},{"id":"837119ff.916928","type":"http in","z":"95a0273a.31b768","name":"","url":"/dash3/kpi-sales","method":"get","upload":false,"swaggerDoc":"","x":139,"y":260,"wires":[["4077111f.fed69"]]},{"id":"68ed81a7.27b1b","type":"http in","z":"95a0273a.31b768","name":"","url":"/dash3/kpi-3","method":"get","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["9a3c79a0.bd3848"]]},{"id":"c878f8b7.4cc0b8","type":"http response","z":"95a0273a.31b768","name":"","statusCode":"","headers":{},"x":630,"y":260,"wires":[]},{"id":"9838a071.a5b43","type":"http response","z":"95a0273a.31b768","name":"","statusCode":"","headers":{},"x":630,"y":300,"wires":[]},{"id":"b371399d.323d58","type":"http response","z":"95a0273a.31b768","name":"","statusCode":"","headers":{},"x":630,"y":340,"wires":[]},{"id":"eb9ab565.cea538","type":"http response","z":"95a0273a.31b768","name":"","statusCode":"","headers":{},"x":630,"y":380,"wires":[]},{"id":"f7f0d67b.52ad88","type":"function","z":"95a0273a.31b768","name":"Set Positive Tweets","func":"\n\nglobal.set( 'positiveTweets', [\n    \n{ user: \"@VictoriaReed\",    tweet: \"I love my new Freeo Fridge!\" },\n{ user: \"@Tommy12PHD\",      tweet: \"This is the Michael Jordan of refigerators. Thank you Freeo.\" },\n{ user: \"@uvhgrad\",         tweet: \"I got so tired of @BostonScientific. Switched to @Freeo. Perfect choice!\" },\n{ user: \"@Steven404\",       tweet: \"This is most \" },\n{ user: \"@User70NBL\",       tweet: \"Love my new lab, all new equipmen from Freeo!\" },\n{ user: \"@BeardedDragon12\", tweet: \"Best. fridge. ever. #Freeo #Buyitnow\" },\n{ user: \"@GOT_FAN_IL\",      tweet: \"Freeo is so reliable, no need for me to worry about warranty issues.\" },\n{ user: \"@VictoriaReed\",    tweet: \"I could live in my Freeo Fridge!\" },\n{ user: \"@FreeoHat8r\",      tweet: \"I love the temperature alerts that my Freeo Fridge sends me!\" },\n{ user: \"@ChunkySalsa\",     tweet: \"My Freeo fridge just sent me an update letting me know my samples are ready. So cool!\" },\n{ user: \"@ThomasE\",         tweet: \"My Freeo fridge hasn't had any issues in months. It's always ready when I need it!\" },\n{ user: \"@DuranX2\",         tweet: \"I'm really impressed with the performance enhancements @Freeo has made the last few months\" },\n{ user: \"@PizzaDude\",       tweet: \"So happy that Freeo has added Gradual Descent Cooling now!\" },\n{ user: \"@Shillster\",       tweet: \"I'd reccommend @Freeo to anyone who's looking for high quality, long lasting refrigerators\" },\n\n]);\n\nglobal.set('nextPosTweet', 0 );\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":60,"wires":[[]]},{"id":"554edf3.cfe3a2","type":"http response","z":"95a0273a.31b768","name":"","statusCode":"","headers":{},"x":630,"y":440,"wires":[]},{"id":"ca404282.07061","type":"function","z":"95a0273a.31b768","name":"Recent Negative Tweets","func":"\nvar mathjs = global.get('mathjs');\n\nvar tweets = global.get('positiveTweets');\n\nvar index = global.get('nextPosTweet');\n\nmsg.payload = {\n    title: \"Twitter: Realtime Tweets\",\n    index: index,\n    tweets:  [\n        tweets[ mathjs.mod( index-1, tweets.length ) ],\n        tweets[ mathjs.mod( index-2, tweets.length ) ],\n        tweets[ mathjs.mod( index-3, tweets.length ) ],\n    ]\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["554edf3.cfe3a2"]]},{"id":"260aeebf.20add2","type":"http in","z":"95a0273a.31b768","name":"","url":"/dash3/tweets","method":"get","upload":false,"swaggerDoc":"","x":140,"y":440,"wires":[["ca404282.07061"]]},{"id":"68e45b94.00c6d4","type":"websocket out","z":"95a0273a.31b768","name":"","server":"c977462.43343b8","client":"","x":650,"y":500,"wires":[]},{"id":"3eb1d002.c84a3","type":"inject","z":"95a0273a.31b768","name":"every 38s","topic":"","payload":"","payloadType":"date","repeat":"38","crontab":"","once":true,"x":130,"y":500,"wires":[["828ba59e.65fe38"]]},{"id":"828ba59e.65fe38","type":"function","z":"95a0273a.31b768","name":"Positive Tweets","func":"\nvar ts = msg.payload;\n\nvar m = global.get('mathjs');\n\nvar tweets = global.get('positiveTweets');\n\nvar index = global.get('nextPosTweet');\n\nmsg.payload = {\n    type:  \"pos-tweet\",\n    i:     index,\n    tweet: tweets[ index ],\n};\n\nglobal.set( 'nextPosTweet', m.mod( index+1, tweets.length ) );\n\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":500,"wires":[["68e45b94.00c6d4"]]},{"id":"4fa755c6.b41f0c","type":"function","z":"95a0273a.31b768","name":"Doughnut Chart","func":"\nvar total = 382; // mentions\n\nvar value = 44;\n\nmsg.payload = {\n    title: '<i class=\"fa fa-facebook-square\"></i><span class=\"pull-right text-success\"><i class=\"fa fa-arrow-circle-up\"></i> 4%</span>',\n    chart: {\n        animationEnabled: true,\n        backgroundColor: \"transparent\",\n        title: {\n            text: value.toString() + \"%\",\n            fontSize: 20,\n            horizontalAlign: \"center\",\n            verticalAlign: \"center\"\n        },\n        data: [\n            {\n                explodeOnClick: false,\n                innerRadius: \"80%\",\n                radius: \"90%\",\n                startAngle: 270,\n                type: \"doughnut\",\n                dataPoints: [\n                    { y: value, /*color: \"#c70000\",*/ toolTipContent: \"Positive Sentiment: <span>\" + Math.round( value / 100 * total ) + \"</span> (over 60 days)\" },\n                    { y: 100-value, color: \"#727272\", toolTipContent: null }\n                ]\n            }\n        ]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["b371399d.323d58"]]},{"id":"9a3c79a0.bd3848","type":"function","z":"95a0273a.31b768","name":"Doughnut Chart","func":"\nvar total = 83; // mentions\n\nvar value = 33;\n\nmsg.payload = {\n    title: '<i class=\"fa fa-linkedin-square\"></i><span class=\"pull-right text-success\"><i class=\"fa fa-arrow-circle-up\"></i> 12%</span>',\n    chart: {\n        animationEnabled: true,\n        backgroundColor: \"transparent\",\n        title: {\n            text: value.toString() + \"%\",\n            fontSize: 20,\n            horizontalAlign: \"center\",\n            verticalAlign: \"center\"\n        },\n        data: [\n            {\n                explodeOnClick: false,\n                innerRadius: \"80%\",\n                radius: \"90%\",\n                startAngle: 270,\n                type: \"doughnut\",\n                dataPoints: [\n                    { y: value, /*color: \"#c70000\",*/ toolTipContent: \"Positive Sentiment: <span>\" + Math.round( value / 100 * total ) + \"</span> (over 60 days)\" },\n                    { y: 100-value, color: \"#727272\", toolTipContent: null }\n                ]\n            }\n        ]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["eb9ab565.cea538"]]}]